header{
    background-color: aqua;
    text-align: center;
    border: 2px solid black;
    padding: 10px;
    margin: 0px 0px 20px;
}
.horizon{
    border-bottom: 3px solid red;
    
    
}
#navigator{
    word-spacing: 100px;
    text-align: center;
}
.Next{
    position: relative;
    left: 1050px;
}
.title{
    text-align: center;
}
.img{
    width: 374px;
    position: relative;
    left: 400px;
}