@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<h3>CurrentUser:@TempData["CurrentUser"]</h3>
<h3>Current Date and Time:@TempData["CurrentDateTime"]</h3>
<h3>Current Year:@TempData["CurrentYear"]</h3>