 @*
     For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
 *@
@{
    ViewData["Title"] = "TempData example";

}
<h3>CurrentUser:@TempData["CurrentUser"]</h3>
<h3>Current Date and Time:@TempData["CurrentDateTime"]</h3>
<h3>Current Year:@TempData["CurrentYear"]</h3>

