<p>directive works!</p>
<!-- use of *ngIf -->
<h2 *ngIf="isCond1" [ngStyle]="myStyle">this is *ngIf directive</h2>
<h2 *ngIf="isCond2">this is *ngIf directive</h2>
<h2 *ngIf="isCond3;then truepart;else falsepart"></h2>

<ng-template #truepart>
    This is True part
</ng-template>
<ng-template #falsepart>
    This is False part
</ng-template>
<hr>
<!-- use of *ngfor -->
<ul>
    <li *ngFor="let course of courses" [ngClass]="myClass">{{course}}</li>
</ul>
<hr>
<!-- use pf *ngSwitchCase -->
 <div [ngSwitch]="myCourse">
<div *ngSwitchCase="'react'">You have selected React</div>
<div *ngSwitchCase="'angular'">You have selected Angular</div>
<div *ngSwitchCase="'python'">You have selected React</div>
<div *ngSwitchCase="'java'">You have selected React</div>
<div *ngSwitchCase>Invalid choice</div>

 </div>
 <div [ngSwitch]="myCourse">
 <div *ngFor="let course of courses">
<div *ngSwitchCase="'course'">you Have selected {{course}}</div>
    
</div>
<div *ngSwitchDefault>Invalid choice</div>
