.header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gold;
  padding: 10px;
  height: 120px;
}

 .header img{
  height: 100px;
   width: 100px;
   border-radius: 50%;
   box-shadow: -3px 7px 50px -4px;
   position: relative;
   right: 45px;
} 
.header h2{
  font-size: xxx-large;
    font-style: oblique;
    font-weight: 800;
    font-family: math;

}
.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:gold;
  height: 100px;
}
.footer h2{
  
  font-size: x-large;
  font-style: oblique;
  font-weight: 800;
  font-family: math;
  color:black;
  
  
}

.custom-card-body {
  height: 1000px; 
}

@media (max-width: 1200px) {
  .responsive-card {
    height: 200px; 
  }
}
.carousel-inner img {
  height: 460px;
   width: 100vw !important;
    border-radius: inherit; 
}
.homelist{
  list-style-type:none;
}
.product-page{
  display: block;
  align-items:center;
}

.product-page h3{
  font-style: italic;
  font-family: revert-layer;
  float: inline-start; 
}
